body {
    background-color:  midnightblue;
}

header {
padding: 20px;
}

header .h1 {
    color: blanchedalmond;
    font-weight: bold;
    font-size: 40px;
}

.score-board {
    padding: 15px 20px;
    text-align: center;
}

.player {
    color: white;
    font-size: 18px;
}

#user {
    position: absolute;
}

#computer {
    position: absolute;
}

.move-description {
    font-size: 40px;
    color: lightsalmon;
}

.move-description  p {
    text-align: center;
    font-size: 35px;
}

.weapon {
    margin: 0 15px;
    display: inline-block;
    padding: 12px;
    transition: all 0.4s ease;
}

.weapon:hover {
    background: grey;
    cursor: pointer;
}

#move-message {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

img {
    height: 25rem;
    font-size: 5.75em;

}